.navbar-brand {
	padding-top: 2px;
} 

.panel-default {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}


.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

.alert {
	margin: 0px;
	margin-bottom: 10px;
	
}

.form-inline .form-control{ 
	width: 199px;
}
